#season1 {
    background-image: url("../../img/ROTWKDnD.png");
}

#season2 {
    background-image: url("../../img/FSOTWDnD.png");
}

#season3 {
    background-image: url("../../img/EonsDnD.png");
}

#season4 {
    background-image: url("../../img/ReforgedDnD.png");
}

#oneshot1 {
    background-image: url("../../img/TKOCDnD.png");
}

#oneshot2 {
    background-image: url("../../img/APHDnD.png");
}

#oneshot3 {
    background-image: url("../../img/Breaking Orbit Thumbnail.png");
}

#oneshot4 {
    background-image: url("../../img/FTSDnD.png");
}