#season1 {
    background-image: url("../../img/S1Phase1.png");
}

#season2 {
    background-image: url("../../img/S2Phase2.png");
}

#season3 {
    background-image: url("../../img/S3Phase3.png");
}

#season4 {
    background-image: url("../../img/S4IDW2019.png");
}

#season5-1 {
    background-image: url("../../img/DWGen1Comics.png");
}

#season5-2 {
    background-image: url("../../img/ArmadaComics.png");
}

#season5-3 {
    background-image: url("../../img/IDWBeastWars.jpg");
}

#season6 {
    background-image: url("../../img/TF The Manga Vol 1 Part 1 Youtube Thumbnail Youtube Thumbnail.png");
}

#bonus {
    background-image: url("../../img/CrossOverComics.png");
}